@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Rubik:wght@400;600&display=swap');

* {
  font-family: 'Rubik', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.weather-form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 12px;
  padding: 30px;
  background: linear-gradient(50deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.form-header{
  text-align: center;
  color: white;
  font-weight: bold;
}

.search-btn{
  margin-top: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 7px;
  background:rgb(48, 98, 173);
  color: white;
  border: none;
  border-radius: 5px;
}

.search-btn:hover{
  background:rgba(2, 0, 36, 1) ;
  transition: 0.4s;
  color: grey;
}